.card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px; /*vertiacal 0, horizontal 10*/
  font-size: 0.7em;
}

.cardInfo {
  margin: 0;
  padding: 0;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6em;
}

.inputRadio {
  margin: 10px;
}